<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Estado</mat-label>
    <mat-select (selectionChange)="onUfChange($event.value)">
      <mat-option *ngFor="let uf of ufs" [value]="uf">{{ uf }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Cidade</mat-label>
    <mat-select>
      <mat-option *ngFor="let municipio of municipios" [value]="municipio.ibge_code">{{ municipio.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
